<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/about.css">
</head>
<body>
  <nav>
    <ul class="main-menu">
      <li><a href="../index.html">home</li></a>
      <li><a href="../templates/about.html">about</li></a>
      <li><a href="../templates/resume.html">resume</li></a>
      <li><a href="../templates/portfolio.html">portfolio</li></a>
      <li><a href="../templates/contact.html">contact</li></a>
    </ul>
  </nav>
  <div id="mydescription"><h1>About Me</h1></div>
  <div id="aboutme"><img src="../images/me.jpg" alt="picture of me">
  <h1> You can call me Zoey! I am a senior at Fordham University majoring in New Media and Digital Design. I am trying to my career towards technology and product design.</h1>
  </div>

</body>
</html>
