<!DOCTYPE html>
<html>
<head>
  <title>Contact</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/contact.css">
</head>
<body>
  <nav>
    <ul class="main-menu">
      <li><a href="../index.html">home</li></a>
      <li><a href="../templates/about.html">about</li></a>
      <li><a href="../templates/resume.html">resume</li></a>
      <li><a href="../templates/portfolio.html">portfolio</li></a>
      <li><a href="../templates/contact.html">contact</li></a>
    </ul>
  </nav>

  <div class="contactme">
    <h1>Let's communicate</h1>
    <div class="text">
      <label>Subject</label>
      <input type="text" name="" value="" placeholder="">
    </div>

    <div class="text">
      <label>Email:</label>
      <input type="email" name="" value="" placeholder="Enter Your Email">
    </div>

    <div class="text">
      <label>Message:</label>
      <textarea></textarea>
    </div>
    <a class="sendbutton">Send</a>
  </div>

  <div class="thankyouletter">
    <h1>THANK YOU FOR VISITING <br> MY WEBSITE!</h1>
    <div class="note">
    <p>I hope you were able to get to know me better through my work and experiences.</p>
    <p>I only recently became interested in UX/UI and Product Design. The things that I am learning at university, work, and my free time are shaping me to become a thougtful and better designer. Although there are many things that I have to learn, I am determine to learn about about people and how to design a better experience for them.  </p>
    <p>If you have any questions about anything or if you would like to talk about your interest in technology - <b>leave me a message</b>.</p>
  </div>

  </body>
</html>



</body>

</html>
