<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/portfolio.css">
</head>
<body>
  <nav>
    <ul class="main-menu">
      <li><a href="../index.html">home</li></a>
      <li><a href="../templates/about.html">about</li></a>
      <li><a href="../templates/resume.html">resume</li></a>
      <li><a href="../templates/portfolio.html">portfolio</li></a>
      <li><a href="../templates/contact.html">contact</li></a>
    </ul>
  </nav>

<div id="portfolio"><h1>Portfolio</h1></div>
    <div class="swavler">
      <img src="../images/swavler.jpg" alt="screenshot of Swavler Product">
      <h2>Swavler</h2>
      <h3>Travel App for Millenials</h3>
    </div>


    <div class="swavler">
      <img src="../images/beautyblender.jpg" alt="a girl holding beauty blender">
      <h2>Social Media Strategy for Beauty Blender</h2>
      <h3>Utilize Snapchat filters to market Beauty Blender brand</h3>
    </div>


    <div class="swavler">
      <img src="../images/editorial.jpg" alt="editorial graphic for tech article">
      <h2>Editorial Graphic for The New York Times</h2>
      <h3>A graphic that powerfully captures the effect of technology</h3>
    </div>

    <div class="swavler">
      <img src="../images/rollingmuse.jpg" alt="screenshot of Rolling Muse Design">
      <h2>Rolling Muse Redesign</h2>
      <h3>Rolling Muse App becomes better with a community feature</h3>
    </div>

    <div class="swavler">
      <img src="../images/energydrink.jpg" alt="burn energy drink">
      <h2>Burn in the Philippines</h2>
      <h3>A marketing strategy if Coca Cola's Burn wants to enter the Philippines market </h3>
    </div>

    <div class="swavler">
      <img src="../images/bookcover.jpg" alt="The Veldt book cover">
      <h2>The Veldt Book Cover</h2>
      <h3>A book cover for that suggests the theme but doesn't give away the plot
    </div>



    <div class="swavler">
      <img src="../images/foundation.jpg" alt="different kinds of foundation products">
      <h2>Beauty Products for Expats in Asian Countries</h2>
      <h3>A start-up idea that sells diverse beauty products that local markets can't provide</h3>
    </div>

    <div class="swavler">
      <img src="../images/domo.jpg" alt="japanese brown monster">
      <h2>Social Media Campaign for NHK Domo</h2>
      <h3>Domo Facebook account management</h3>
    </div>




</body>

</html>
