<!DOCTYPE html>
<html>
<head>
  <title>Resume</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/resume.css">
</head>
<body>
  <nav>
    <ul class="main-menu">
      <li><a href="../index.html">home</li></a>
      <li><a href="../templates/about.html">about</li></a>
      <li><a href="../templates/resume.html">resume</li></a>
      <li><a href="../templates/portfolio.html">portfolio</li></a>
      <li><a href="../templates/contact.html">contact</li></a>
    </ul>
  </nav>
<div id="resume"><h1>Resume</h1></div>
<div id="linkedin">
<a href="https://www.linkedin.com/in/vzo413/" target="_blank">
<img src="../images/linkedin.png" alt="linkedin icon" width="40" height="40">
</a>
</div>
<div id="facebook">
<a href="https://www.facebook.com/zoey.oliveros" target="_blank">
<img src="../images/facebook.png" alt="facebook icon"  width="40" height="40">
</a>
</div>
<div id="instagram">
<a href="https://www.instagram.com/itszozozo/?hl=en" target="_blank">
<img src="../images/instagram.png" alt="instagram icon" width="40" height="40">
</a>
</div>

<div id="resumecontent">
<h2><u>Education</u></h2>
<h3>Fordham University, New York City, Class of 2019</h3>
<h4>B.A. in New Media and Digital Design</h4>
<h3>City University Hong Kong, Hong Kong, Fall Semester</h3>
<h4>Study Abroad Program in International Business</h4>
<h2><u>Work Experience</u></h2>
<h3>Product Gym, New York City, August 2018 - Present</h3>
<h3>Product Management Intern</h3>
<ul>
  <li>Work closely with product manager to improve customer onboarding that increased 50 leads on company website in 2 weeks</l1>
  <li>Analyze customer reviews online using ParseHub to track reocurring positive and negative customer feedback for product improvement</l1>
  <li>Interface with customers on-site to gain feedback and validate new ideas about their product experience</li>
  <li>Propose UX solutions for ‘homepage’ and ‘student portal’ webpages by designing wireframes on Sketch with team prior to website launch</li>
</ul>
<h3>Big Tent Entertainment, New York City, May 2017 - August 2017</h3>
<h3>Product Management Intern</h3>
<ul>
  <li>Led market assessment, scenario analysis, and social media
  campaign strategy for product launch in New York Comic Con 2017</l1>
  <li>Increased NHK Domo Facebook followers to 1k per week by providing
  valuable customer insights and best practices from other influencers</l1>
  <li>Researched on children and media engagement to identify key opportunities for Sorajiro brand to enter U.S. market</li>
  <li>Communicated effectively with designers working oversees on what materials were needed for social media content</li>
</ul>

</div>
</body>

</html>
